{{- define "main" -}}

<div class="universal-wrapper pt-3">
    <div class="alert alert-danger" role="alert">
        HTTP error: 418 I'm a teapot
    </div>
    <div class="container" id="mainContainer">
    <h1>You're trying to brew coffee with a teapot!</h1>
    <h2>The resulting entity body <em>may</em> be short and stout</h2>
    <img src="https://i.makeagif.com/media/8-15-2016/CmazeK.gif" alt="An animated GIF of a man destroying a computer">
    <p>Here's what may have happened:</p>
    <ul>
        <li>You were unaware that teapots are unable to brew coffee (understandable mistake)</li>
        <li>You were distracted and put coffee beans inside the teapot (you'll have to clean it up)</li>
        <li>You mistook the teapot for a coffee machine (less understandable mistake)</li>
        <li>You wanted to see if I went out of my way to implement a useless error (I did)</li>
    </ul>
    <a href="/"><button type="button" class="btn btn-primary">Let's go home</button></a>
    </div>
</div>

{{- end -}}
